.content {
  text-align: center;
  margin: 50px 200px 10px 200px;
  background: rgb(248, 237, 227);
  background: linear-gradient(
    180deg,
    rgb(238, 234, 220, 0.8) 62%,
    rgb(163, 177, 138, 0.8) 100%
  );
  color: #222831;
  padding: 13px;
  border-radius: 30px;
  border: 1px solid #6c8861;
}

.content:after {
  content: "";
  background-image: url("bg.jpg");
  opacity: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1 {
  font-family: monospace;
  letter-spacing: 7px;
  opacity: 30%;
}

.city-form {
  text-align: center;
}
.enter-city {
  max-width: 200px;
}

.city-button {
  transition: all 200ms ease-in-out;
  border-radius: 50px;
  border: 0;
  background-color: #798777;
  padding: 5px 15px;
  box-shadow: 5px 5px 15px #dee0dd;
  margin-left: 10px;
  color: #fff;
}

.city-button:hover {
  cursor: pointer;
  background-color: #97aa91;
}

.current-button {
  transition: all 200ms ease-in-out;
  border-radius: 50px;
  border: 0;
  font-size: 11px;
  background-color: #91ac88;
  padding: 5px 15px;
  box-shadow: 5px 5px 15px #dee0dd;
  margin-left: 10px;
  color: #fff;
  margin-top: 20px;
}

.current-button:hover {
  cursor: pointer;
  background-color: #acc2a5;
}

.current {
  margin-left: 130px;
  margin-right: 90px;
  font-size: 15px;
}

.city {
  font-weight: 900;
  padding-top: 30px;
  text-align: left;
}

.description {
  text-align: left;
  font-variant: small-caps;
}

.date {
  text-align: left;
}

.current-weather {
  margin-left: -140px;
}

.icon {
  width: 80px;
}

.temperature {
  font-size: 55px;
  font-weight: 500;
  line-height: 45px;
}

.conversion {
  font-size: 20px;
  position: relative;
  top: -24px;
  left: -13px;
}

.otherElements {
  padding-bottom: 20px;
  font-size: 13px;
  margin-left: 150px;
  padding-top: 5px;
  font-variant: small-caps;
}

li {
  display: inline;
}

.weather {
  max-width: 600px;
  margin-left: 35px;
  font-size: 20px;
  padding-bottom: 10px;
}

.weekdays {
  font-weight: 600;
}

.weather-emoji {
  color: #4b6642;
}

.gitHubLink {
  text-decoration: none;
  color: #4b6642;
}

.gitHubLink:hover {
  color: #354230;
}

.gitHubLink:visited {
  color: #4b6642;
}

footer {
  text-align: center;
  font-size: 17px;
  font-family: monospace;
}
