.content {
  text-align: center;
  margin: 40px auto;
  max-width: 700px;
  background: linear-gradient(
    180deg,
    rgb(238, 234, 220, 0.8) 62%,
    rgb(163, 177, 138, 0.8) 100%
  );
  padding: 13px;
  border-radius: 30px;
  border: 1px solid #6c8861;
}

.content:after {
  content: "";
  background-image: url("bg.jpg");
  opacity: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1 {
  font-family: monospace;
  letter-spacing: 7px;
  opacity: 30%;
}

.city-button {
  transition: all 200ms ease-in-out;
  border-radius: 50px;
  border: 0;
  background-color: #798777;
  padding: 5px 15px;
  box-shadow: 5px 5px 15px #dee0dd;
  margin-left: 10px;
  color: #fff;
}

.city-button:hover {
  cursor: pointer;
  background-color: #97aa91;
}

.current-button {
  transition: all 200ms ease-in-out;
  border-radius: 50px;
  border: 0;
  font-size: 11px;
  background-color: #91ac88;
  padding: 5px 15px;
  box-shadow: 5px 5px 15px #dee0dd;
  margin-left: 10px;
  color: #fff;
  margin-top: 20px;
}

.current-button:hover {
  cursor: pointer;
  background-color: #acc2a5;
}

.current {
  margin: 0 auto;
  max-width: 430px;
}

.current-city {
  font-size: 15px;
  float: left;
  text-align: left;
  padding-top: 30px;
  padding-left: 0;
}

.city {
  font-weight: 900;
}

.description {
  font-variant: small-caps;
}

.current-weather {
  text-align: right;
  padding-top: 30px;
}

.icon {
  width: 80px;
}

.temperature {
  font-size: 55px;
  font-weight: 500;
  line-height: 45px;
}

.conversion {
  font-size: 20px;
  position: relative;
  top: -22px;
  left: -13px;
}

.conversion .active {
  color: #030100;
  cursor: default;
}

.conversion .active:hover {
  text-decoration: none;
}

.otherElements {
  padding-bottom: 20px;
  font-size: 13px;
  font-variant: small-caps;
  position: relative;
  left: -13px;
}

li {
  list-style: none;
}

.inline {
  display: inline;
}

.weather {
  font-size: 20px;
  padding-bottom: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.weekdays {
  font-weight: 600;
}

.weather-emoji {
  color: #4b6642;
}

.link {
  text-decoration: none;
  color: #4b6642;
}

.link:hover {
  color: #354230;
}

footer {
  text-align: center;
  font-size: 14px;
  font-family: monospace;
}
